build/

**/bin
**/obj
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/.rider
**/node_modules
**/.DS_Store
**/Thumbs.db

storage/
**/*.gguf
**/*.bin
**/*.safetensors
**/*.onnx

**/logs
**/log
**/tmp
**/temp
**/TestResults
**/*.log
**/*.tmp

**/docker-compose*.yml
**/Dockerfile*
**/.dockerignore
**/.docker

**/README.md
**/LICENSE
**/docs
**/*.md


**/tests
**/Tests
**/*.Tests
**/*.Test


**/.env*
**/*.user
**/*.suo
**/packages
**/.nuget